.receipt-container {
  padding: 2em 6em;
  text-align: left;
}

.receipt-container h2 {
  color: #fff;
  font-size: 2.4em;
}

.receipts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em 4em;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 1024px) {
  .receipts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .receipt-container {
    padding: 1em;
  }
  .receipts {
    grid-template-columns: repeat(1, 1fr);
  }
}
