.receipt {
  padding: 15px 30px;
  background: #fff;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.fee {
  text-align: right;
}

ul.receipt-passages-rows {
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

.receipt-total-fee {
  text-align: right;
  font-weight: 500;
}

.max-fee-reached {
  text-align: right;
  color: #f24e1e;
  font-size: 1em;
}

.toll-free-date {
  color: #00c371;
  text-transform: uppercase;
  font-weight: bold;
}
