html {
  min-height: 100%;
}
body {
  margin: 0;
  padding-top: 70px;
  height: 100%;
  font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    165deg,
    rgba(49, 35, 174, 1) 0%,
    rgba(193, 106, 213, 1) 100%
  );
}
