li {
  line-height: 1.5;
}

li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

span {
  background: #fff;
}

span:last-child {
  float: right;
  padding-left: 0.35em;
}

.greyed-out span {
  color: #c4c4c4;
  text-decoration: line-through;
  padding: 0;
}

li.greyed-out:before {
  color: #c4c4c4;
  text-decoration: line-through;
}
