header {
  display: flex;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 5px 20px -10px #000;
}

.logo {
  margin-left: 1em;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
}

.logo-color {
  font-size: 22px;
  color: #5651ff;
}
