.results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  margin: 1em;
  animation: fadeIn 1s ease;
}

.results-group {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 1s ease;
  max-width: 900px;
}

.flex-column {
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
