@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

 
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.bodyContent {
    margin: 0 auto;
}

.header {
    padding: 3% 25% 3% 25%;
}

.headerTitle {
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 71px;
    line-height: 85px;
    white-space: nowrap;
    margin: 0 auto;
}

 
}

.headerContent {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

 

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.button1 {
    background-color: #66CCCC;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    line-height: 27px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border: none;

}

.button {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #0b2263;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width:200px;
}
.titleImage {
    width: auto;
    height: auto;
}

.textarea {
    width: 600px;
    height: 200px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.textinput {
    width: 200px;
    height: 40px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    align-content:center;
    align-items:center;
}

.contentTitle {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 47px;
    line-height: 57px;
    text-align: center;
}

.imageTitle {
    width: 100%
}

.labelText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold; 
}

div {
     
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 10px;
}

.tollContent {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    display: flex;
}

.fixed {
    width: 300px;
}

.flex-item {
    flex-grow: 1;
}

td {
     
    text-align: center;
    vertical-align: middle;
}

 